.half-padded-content {
    padding: 2em;
}

.padded-content {
    padding: 4em;
}

.white-content {
    background-color: white;
}

.login-background {
    background-size: 150% 100%;
    background-position-x: 50%;
    height: 100%;
    color: white;
}

.height-100, html {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.btn-imito {
    background-color: #e2352a;
    color: white;
    margin: 10px;
}
.btn-imito-grey {
    background-color: #afafaf;
    color: white;
    margin: 10px;
}

.btn-imito-empty {
    background-color: rgba(0, 0, 0, 0);
    color: #e2352a;
    border: #e2352a 1px solid;
    margin-right: 10px;
}

.btn-imito-wide {
    width: 150px;
}

.btn-imito-wider {
    width: 200px;
}

.login-header {
    font-size: 2em;
    font-weight: bold;
}

.login-text {
    font-size: 1.5em;
}

.text-imito-bold, .error-msg{
    color: #e2352a;
}

.left-panel {
    background-color: #e2352a;
}

.left-menu div {
    font-weight: bold;
    color: white;
    padding: 1em;
}

.left-menu div:hover {
    background-color: #c62c22;
    border-radius: 10px;
}

a, a:visited, a:hover, a:link, a:active {
    text-decoration: none !important;
    color: white;
}

.stats-panel {
    color: white;
}

.stats-panel .header, .blended-text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.75em;
}

.user-capitals {
    text-transform: uppercase;
    background-color: #c62c22;
    border-radius: 10px;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.user-details-name {
    font-weight: bold;
    color: white;
}

.btn-to-text {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0px;
}

.login-left-panel {
    width: 470px;
    top: 0;
    left: 0;
    position: absolute;
}

.login-right-panel {
    margin-left: 470px
}

.app-left-panel {
    width: 350px;
    top: 0;
    left: 0;
    position: absolute;
}

.app-right-panel {
    margin-left: 350px;
    overflow-y: scroll;
}

hr {
    color: #ffffff;
    opacity: 0.15;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.left-panel-value, .opacity-50 {
    opacity: 0.5;
}

.stats-number-value-l {
    font-size: 10em;
}

.stats-number-value-m {
    font-size: 5em;
}

.login-stats-version-text {
    font-size: 1.25em;
    margin-bottom: 1.25em;
}

.header-big {
    font-size: 3em;
    font-weight: bold;
}
.header-small {
    font-size: 1.5em;
    font-weight: bold;
    color:black;
}

.group-settings-header {
    font-size: 1.5em;
    font-weight: bold
}

.group-settings-block {
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    padding: 1em;
    margin-bottom: 20px;
}

.group-settings-block-header {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.75em;
}

.darkHr {
    border-color: rgba(0,0,0,0.5 )
}

.btn-imito-small {
    color: white;
    background-color: #e2352a;
}

.error-code{
    font-weight: bold;
    font-size: 8em;
}

.error-page-content{
    text-align: center;
    width: 100%;
    padding: 4em;
}

.error-page-text{
    padding-bottom: 1em;
    font-size: 1.5em;
    color: rgba(0,0,0,0.5 )
}

.green-lamp{
    width: 7px;
    height: 7px;
    background-color: #31d462;
    box-shadow: 0 0 4px 0 #31d462;
    position: relative;
    right: -8em;
    top: 0.5em;
}

.selected-submenu-item{
    background-color: #e2352a;
    border-radius: 25px;
    color:white !important;
}